@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

html {
  scroll-behavior: smooth;
}
body,
html,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Roboto", sans-serif;
}

header {
  padding: 52px 2rem;
  background-color: #1f2937;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

nav .logo {
  width: 5rem;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
}

nav ul {
  display: flex;
  gap: 52px;
  font-weight: 400;
  font-size: 1rem;
  flex-wrap: wrap;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

section.hero-content {
  width: 50%;
  margin-inline: auto;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

section.hero-image {
  flex: 1;
}

.hero-text {
  flex: 3;
}

.submit {
  margin-top: 10px;
  padding: 10px 15px;
  border-style: none;
  border-radius: 3px;
  background-color: #3882f6;
  transition: cubic-bezier(1, 0, 0, 1) 300ms;
}

.submit:hover,
.actioncall button:hover,
.card:hover {
  transform: scale(1.15);
}

.hero-text h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

.hero-text p,
a,
.submit {
  font-size: 18px;
  color: #e5e7eb;
  text-align: justify;
}

.hero-image img {
  max-width: 25rem;
  border-radius: 3px;
  object-fit: contain;
  transition: ease-in-out 300ms;
}

.hero-image img:hover {
  rotate: -6deg;
}

.main {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main > h3 {
  color: #1f2937;
  font-size: 36px;
  font-weight: extra-bold;
}

.info-cards {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 2rem;
}

.card {
  flex: 1;
  flex-wrap: wrap;
  border: solid #3882f6 3px;
  border-radius: 3px;
  transition: ease-in-out 300ms;
}

.card img {
  max-height: 250px;
  object-fit: contain;
}

.card p {
  color: #1f2937;
  width: 100%;
  text-align: justify;
  margin-top: 10px;
  padding-inline: 15px;
}

section.quote {
  background-color: #e5e7eb;
  padding: 50px 150px;
}

section.quote blockquote,
span {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
}

span {
  position: relative;
  left: 70%;
}

section.actioncall {
  background-color: #3882f6;
  padding: 32px;
  margin-block: 2rem;
  border-radius: 3px;
  display: flex;
  justify-content: space-around;
  gap: 3rem;
}

.actioncall button {
  font-weight: extra-bold;
  color: #e5e7eb;
  background-color: #3882f6;
  border: 2px solid #e5e7eb;
  border-radius: 5px;
  transition: ease-in-out 300ms;
  padding-inline: 15px;
}

footer {
  text-align: center;
  background-color: #1f2937;
  padding-block: 32px;
}
